.DS_Store
.ipynb_checkpoints/
__pycache__/

# Distribution / packaging
build/
Cargo.lock
dist/
target/
wheels/
*.egg-info/

# unit test / coverage reports
htmlcov/
test-requirements.txt
.coverage
.pytest_cache/
.tox/